
Title: Project management
Description: plans and project management sheets
Date: 
Robots: noindex,nofollow
Template: index
---

# Title of project

Abbreviations
> * PM Product Milestone
> * MD Milestone division
> * SD Subdivision

## Analyzing all parts

|#|Part|Details|Total Duration|Status|
|:-|:-|:-|:-|:-|
|1|[Part 1](%base_url%/pm#Part_1_timeplan)|2025-10-27 - |- hours|ONGOING|
|2|[Part 2](%base_url%/pm#Part_2_timeplan)|-|-||
|3|[Part 3](%base_url%/pm#Part_3_timeplan)|-|-||
|:-|:-|:-|::||


## Part 1 timeplan

```mermaid
gantt
    section MD1
    SD1 - Create containers              :md1des1, 2025-11-24,2d
    SD2 - Git hooks scripts              :md1des2, after md1des1,1d
    SD3 - Create some templates          :md1des3, after md1des2,2d


    section MD2
    SD1 - Title here                     :md2des1, 2025-11-30,1d
    SD2 - Title here                     :md2des2, after md2des1,1d

```
# Card template
> ## `<week-number>-<card-number>`
> ### Goal : <card-title/commit message>
> Explain final goal for this card
> 
> ### DOD  (definition of done):
> What will happen after finishing this card
> 
> ### TODO :
> - [] 1.
> 
> ### Reports :
> * 
> 
> ### Steps to test and debugging:
> - [] 1.
> 
> ### References :
> * []()

# Stories/cards MD1

## 48-001
### DONE ![status](https://img.shields.io/badge/status-DONE-brightgreen)
<details>
    <summary>Details</summary>

> Explain final goal for this card
> 
> ### DOD  (definition of done):
> What will happen after finishing this card
> 
> ### TODO :
> - [] 1.
> 
> ### Reports :
> * 
> 
> ### Steps to test and debugging:
> - [] 1.
> 
> ### References :
> * []()
</details>


## 48-002
### ONGOING ![status](https://img.shields.io/badge/status-ONGOING-yellow)
<details>
    <summary>Details</summary>

> Explain final goal for this card
> 
> ### DOD  (definition of done):
> What will happen after finishing this card
> 
> ### TODO :
> - [] 1.
> 
> ### Reports :
> * 
> 
> ### Steps to test and debugging:
> - [] 1.
> 
> ### References :
> * []()
</details>


## 48-003
### NOT--STARTED ![status](https://img.shields.io/badge/status-NOT--STARTED-lightgrey)
<details>
    <summary>Details</summary>

> Explain final goal for this card
> 
> ### DOD  (definition of done):
> What will happen after finishing this card
> 
> ### TODO :
> - [] 1.
> 
> ### Reports :
> * 
> 
> ### Steps to test and debugging:
> - [] 1.
> 
> ### References :
> * []()
</details>


# Stories/cards MD2
