name: Generate DECK.md

on:
  push:
    paths:
      - '.pm/**'

jobs:
  build:
    runs-on: ubuntu-latest  # Indentation is crucial here

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Make script executable
        run: chmod +x .github/gh_generate_markdown.sh

      - name: Run Script
        run: ./.github/gh_generate_markdown.sh
        shell: bash

      - name: Commit and push changes to master  
        env:  
          PAT: ${{ secrets.PAT }}  # GitHub PAT stored in repository secrets  
          REPO: ${{ github.repository }}  # e.g., "username/repo-name"  
        run: |
          # Configure Git user (required for commits)  
          git config --global user.name "GitHub Actions Bot"  
          git config --global user.email "actions@github.com"  

          git add DECK.md
          git commit -m "Update DECK.md"

          git commit -m "chore: update production bundle (auto-pushed by GitHub Actions)"  
          # Push to master using the PAT for authentication  
          git push https://${PAT}@github.com/${REPO}.git master  
          else  
          echo "No changes to commit. Exiting."  
          fi  
