name: Generate DECK.md

on:
  push:
    paths:
      - '.pm/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Make script executable
        run: chmod +x .github/gh_generate_markdown.sh

      - name: Run Script
        run: ./.github/gh_generate_markdown.sh
        shell: bash

      - name: Configure Git
        run: |
          git config --local user.email "you@example.com"
          git config --local user.name "Your Name"

      - name: Commit and Push DECK.md
        run: |
          git add DECK.md
          git commit -m "Update DECK.md"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/hoss-java/githooks.git HEAD:<branch-name>

      - name: Test GitHub Token
        run: |
          git fetch origin
          echo "Token works!"
